<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <application
        android:name="io.relimus.zflow.app.ZFlow"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZFlow">
        <activity
            android:name="io.relimus.zflow.ui.splash.SplashActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity=":splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.floating.FloatingActivity"
            android:exported="true"
            android:label="@string/floating_label"
            android:taskAffinity=":floating"
            android:theme="@style/ActivityDialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.permission.PermissionActivity"
            android:exported="false" />
        <activity
            android:name="io.relimus.zflow.ui.main.MainActivity"
            android:exported="false" />
        <activity android:name=".ui.floating_apps_sort.FloatingAppsSortActivity" />
        <activity android:name=".ui.choose_apps.ChooseAppsActivity" />

        <service
            android:name="io.relimus.zflow.service.KeepAliveService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
        <service
            android:name="io.relimus.zflow.service.notification.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="io.relimus.zflow.service.notification.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="io.relimus.zflow.service.QuickStartTileService"
            android:exported="true"
            android:icon="@drawable/tile_icon"
            android:label="@string/choose_freeform_app"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".xposed.services.FreeformService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="io.relimus.zflow.ui.freeform.FreeformService"/>
            </intent-filter>
        </service>

        <service
            android:name="io.relimus.zflow.service.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <!-- ServiceProvider for receiving binder from system_server via Xposed -->
        <provider
            android:name="io.relimus.zflow.providers.ServiceProvider"
            android:authorities="${applicationId}.freeform.provider"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            tools:ignore="ExportedContentProvider" />

        <receiver
            android:name="io.relimus.zflow.broadcast.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" /> <!-- bugly -->
    </application>

</manifest>
